<div class="container-fluid">
  <div class="row-fluid">
    <div class="search-results-wrapper clearfix">
      <div class="search-facets col-md-2">
        <h3>Show:</h3>
        <ul class="facets">
          <li>
            <label>Artists</label>
            <input type="checkbox" checked="checked">
          </li>
          <li>
            <label>Songs</label>
            <input type="checkbox" checked="checked">
          </li>
        </ul>
      </div>

      <div class="results col-md-10">
        <h3>Artists</h3>
        <ul class="search-results artists">
          {{#each Rocknrollcall.dummySearchResultsArtists}}
            <li>
              <a {{action 'viewedArtist' this}}>{{name}}</a>
            </li>
            {{hotttnesss-badge hotttnesss}}
          {{/each}}
        </ul>

        <h3>Songs</h3>
        <ul class="search-results songs">

        </ul>
      </div>
    </div>
  </div>
</div>